.card {
  margin-top: 10px;
}

.details {
  padding: 5px;
}

.name {
  margin-bottom: 10px;
}

.extra {
  display: flex;
  justify-content: space-between;
}

.addButton {
  background: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: 0) and (max-width: 480px) {
  .card {
    margin-top: 0;
    height: 660px;
    
  }

  .card img {
    width: 100%;
    /* height: 169px; */
  }

  /* .details {
    display: none;
  } */

  .card2 {
    height: 370px;
  }

  .card3 {
    height: 198px;
  }

  
}

@media (min-width: 768px) and (max-width: 1024px) {

  .card img {
    width: 100%;
  }

  .details {
    padding: 5px 10px;
  }
}
