.li {
  list-style: none;
  padding: 20px;
}

.details {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  position: relative;
}

.cartItem img {
  width: 50px;
  height: 50px;
}

/* .description {
  margin-right: 70px;
} */

.description p {
    margin-bottom: 5px;
    width: 200px;
}

.quantity {
  margin: 0 15px;
}

.controls {
  display: flex;
  align-items: center;
}

.controls button {
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.actions {
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

@media (min-width: 0) and (max-width: 480px) {
  .info,
  .quantity,
  .actions {
    margin: 0;
  }

  .description {
  margin-right: 0;
}

  .description p {
    padding: 0;
    text-wrap: nowrap;
    overflow: hidden;
    max-width: 100px;
  }

  .controls {
    gap: 7px;
  }
}
