.forgottenPassword {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    text-decoration: underline;
    font-size: 10px;
    text-underline-offset: 2px;
}

@media (min-width: 0) and (max-width: 480px) {
    .forgottenPassword {
        margin: 20px 0 60px;
    }
}