.forgottenPassword {
  margin: 110px auto;
  width: 320px;
}

.forgottenPassword h1 {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  font-size: 18px;
  text-transform: uppercase;
}

.resetEmail {
  margin: 0 auto;
  width: 320px;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.forgottenInput {
  width: 100%;
}

.forgotSend { 
  padding: 13px;
}

@media (min-width: 0) and (max-width: 480px) {
  .forgottenPassword {
    margin: 70px 20px;
    width: auto;
  }

  .forgottenPassword {
    font-size: 14px;
    font-weight: 300;
  }

  .forgottenPassword h1 {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 15px;
    text-transform: uppercase;
  }

  .resetEmail {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
  }

  .forgotSend {
    padding: 10px;
    font-size: 14px;
  }
}
