.login {
  margin: 0 auto;
  width: 320px;
  margin-top: 110px;
}

.login h4 {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}

.inputText {
  width: 100%;
  margin: 5px 0;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actions button {
  padding: 13px;
}

.staySignedIn {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5px;
}

@media (min-width: 0) and (max-width: 480px) {
    .login {
        padding: 0 20px;
        width: 100%;
    }

    .login h4 {
      padding-top: 50px;
    }

    .inputText {
      height: 45px;
      border-radius: 3px;
      margin: 10px 0;
    }

    .staySignedIn {
      margin: 5px;
    }
}