.signUp {
  margin: 0 auto;
  width: 320px;
  margin-top: 110px;
}

.signUp h1 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding-top: 40px;
  text-transform: uppercase;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 100%;
}


.inputInput {
  width: 100%;
  margin: 10px 0;
}

.offers {
  padding-top: 10px;
  font-weight: 300;
}

.offers input {
  margin-right: 5px;
}

.createAccount {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
}

.haveAccount {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.haveAccount p {
  font-weight: 300;
}

.haveLogin {
  text-decoration: underline;
  padding-left: 5px;
  text-underline-offset: 5px;
}

.tAndC p {
  font-weight: 300;
}

.bold {
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 5px;
}

@media (min-width: 0) and (max-width: 480px) {
  .signUp {
    margin: 110px 20px;
    width: auto;
  }
}
