.active {
  text-decoration: underline;
  color: black;
  text-underline-offset: 5px;
}

.button {
  background: transparent;
  border: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 23px 30px;
  align-items: center;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: var(--bg-color);
}

.header div {
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  gap: 30px;
}

.nav-buttons a {
  display: flex;
}

.nav-buttons span {
  position: relative;
  padding-bottom: 3px;
}

.nav-buttons span::after {
  content: "";
  position: absolute;
  width: 0%;
  left: 0;
  bottom: 0;
  background-color: black;
  height: 1px;
  transition: 0.3s ease;
}

.nav-buttons span:hover::after {
  width: 100%;
}

.icon {
  display: none;
  width: 22px;
  height: 22px;
}

.text {
  display: inline;
}

.hamburger {
  display: none;
  width: 22px;
  height: 22px;
}

.cartHamburger {
  display: none;
}

.cart {
  height: 22px;
}

.cartActions {
  display: flex;
  gap: 3px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .text {
    display: none;
  }

  .icon {
    display: inline;
  }

  .hamburger {
    display: none;
  }
}

@media (min-width: 0) and (max-width: 480px) {
  .header {
    padding: 20px 20px;
    position: fixed;
    width: 100%;
  }

  .hamburger {
    display: inline;
  }

  .cartActions {
    display: flex;
    align-items: center;
  }

  .text {
    display: none;
  }

  .cartHamburger {
    display: flex;
    gap: 20px;
  }

  .popupMenu {
    position: absolute;
    top: 65px;
    right: 0;
    background: #f9f9f6;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    z-index: 10;
    height: calc(100vh - 64px);
    width: 100%;
    text-align: right;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .popupMenu.open {
    transform: translateX(0);
  }

  .popupMenu a {
    font-size: 19px;
    padding: 20px;
  }

  .bigScreenCart {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    position: fixed;
    width: 100%;
  }
}
