.cart {
  margin: 30px;
}

.container {
  margin: 20px auto;
  max-width: 600px;
}

.emptyCart {
  padding: 30px;
}

.cartSummary {
  margin-top: 30px;
}

.actions {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.actionButton {
  text-transform: uppercase;
}

@media (min-width: 0) and (max-width: 480px) {
  .cart {
    padding-top: 70px;
    margin: 0 10px;
  }

  .actions {
    flex-direction: column;
    gap: 10px;
  }

  .actionButton {
    padding: 10px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .cart {
    padding-top: 70px;
  }

  .actions {
    flex-direction: column;
    gap: 10px;
  }

  .actionButton {
    padding: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cart {
    padding-top: 70px;
  }

  .actions {
    flex-direction: row-reverse;
    gap: 10px;
  }

  .actionButton {
    padding: 10px;
    text-transform: uppercase;
  }
}
