.contact {
  margin: 60px auto;
  text-align: center;
}

.contact h4 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contact p {
  margin-bottom: 20px;
  font-weight: 300;
}

.contactForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 20px;
}

.formGroup {
  display: flex;
}

.formGroup input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px;
}

textarea {
  padding: 5px;
  width: 100%;
}

.button {
  padding: 13px;
  margin: 10px 0;
}

.fullName {
  display: flex;
  justify-content: space-between;
}

.fullName input {
  padding: 10px;
  width: 100%;
}

.contactForm p {
  text-align: center;
  font-weight: 300;
}

.contactForm span {
  font-weight: 600;
}

@media (min-width: 0) and (max-width: 480px) {
  .contact {
    margin: 70px auto;
  }
}
