.filterBar li {
  margin: 0 20px;
  padding: 10px;
  cursor: pointer;
}

.productInfo {
  padding: 70px 0 0 ;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  margin-top: 10px;
}

.details {
  padding: 5px;
}

.name {
  margin-bottom: 10px;
}

.extra {
  display: flex;
  justify-content: space-between;
}

.addButton {
  background: transparent;
  border: none;
  cursor: pointer;
}

.shopCart {
  padding: 50px
}

.productImage {
  width: 100%;
}

.productDescription {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 10px;
}

.productDescription h3{
  font-size: 20px;
  font-weight: 400;
  
}

.productButton {
  text-align: center;
}

.productButton .BlackButton {
  font-size: 16px;
  width: 94%;
  padding: 10px;
}

.loadMore {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.isLoading {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0 ;
}

.verifyEmail {
  margin: 10px;
  text-align: center;
}

.verifyEmailButton {
  background: none;
  padding: 5px;
  border: 1px solid black;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #f9f9f6;
  margin: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.closeModalButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: black;
  color: #f9f9f6;
  border: none;
  cursor: pointer;
}

.closeModalButton:hover {
  background-color: rgb(90, 90, 90);
}

@media (min-width: 0) and (max-width: 480px) {
  .card {
    margin-top: 0;
    height: 169px;
  }

  .card img {
    width: 100%;
    height: 169px;
  }

  .details {
    display: none;
  }

  .filterGrid {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
  .shop {
    padding-top: 60px;
  }
  
  .card img {
    width: 100%;
  }

  .details {
    padding: 5px 10px;
  }
}
