.filterBar li {
  margin: 0 20px;
  padding: 10px;
  cursor: pointer;
}

.productInfo {
  padding: 70px 0 0 ;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  margin-top: 10px;
}

.details {
  padding: 5px;
}

.name {
  margin-bottom: 10px;
}

.extra {
  display: flex;
  justify-content: space-between;
}

.addButton {
  background: transparent;
  border: none;
  cursor: pointer;
}

.shopCart {
  padding: 50px
}

.productImage {
  width: 100%;
}

.productDescription {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 10px;
}

.productDescription h3{
  font-size: 20px;
  font-weight: 400;
  
}

.productButton {
  text-align: center;
}

.productButton .BlackButton {
  font-size: 16px;
  width: 94%;
  padding: 10px;
}

@media (min-width: 0) and (max-width: 480px) {
  .card {
    margin-top: 0;
    height: 169px;
  }

  .card img {
    width: 100%;
    height: 169px;
  }

  .details {
    display: none;
  }

  .filterGrid {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
  .shop {
    padding-top: 60px;
  }
  
  .card img {
    width: 100%;
  }

  .details {
    padding: 5px 10px;
  }
}
