.sidebar {
  width: 250px;
  border: 1px solid #eee;
  background: #fff;
}

.sidebar a {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.sidebar a.active {
  background: #000;
  color: #fff;
}

.logout {
  padding: 1rem;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px);
  z-index: 998;
  opacity: 1;
  transition: opacity 0.3s ease;
}


@media (min-width: 0) and (max-width: 468px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    height: 100vh;
    z-index: 1000;
    transition: left 0.3s ease;
  }

  .sidebar.open {
    left: 0;
  }

  .modal {
  margin: 100% 0;
  text-align: center;
}
}
