.contactDetails {
  margin: 0 100px;
}

.contactCard {
  background-color: white;
  max-width: 100%;
  box-shadow: none;
  padding: 20px;
}

.contactDetails h2 {

  background-color: white;
 
    padding: 20px 20px 0 20px;

}

.group {
  margin: 1rem 0;
  /* display: flex;
  flex-direction: column;
  gap: 10px; */
}

.fullName {
  display: flex;
  justify-content: space-between;
}

.group2 {
  margin: 10px 0;
}

.group2 p {
  margin: 10px 0;
}

.group2 button {
  margin: 0 10px;
}

.group3 {
  display: flex;
  gap: 5px;
}

.group5 {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
}

.genderGroup {
  display: flex;
  margin: 1rem 0;
}

.genderGroup label {
  margin-right: 5px;
}

.group4 label {
  margin-right: 5px;
}

.group5 button {
  padding: 10px;
}

.danger {
  margin-top: 2rem;
  border: 1px solid #000;
  background: none;
  padding: 0.75rem 1.5rem;
}

.group1 {
  flex: 1 1 50%;
}

.buttonDiv {
  width: 300px;
}

@media (min-width: 0) and (max-width: 468px) {
  .card {
    padding: 1rem;
  }

  .contactDetails {
    margin: 10px 0;
  }

  .contactDetails h2 {
    padding: 20px 20px 0 20px;
  }

  .contactCard {
    background-color: white;
    padding: 20px;
  }

  .fullName input {
    width: 45%;
  }

  .group input {
    width: 100%;
  }

  .genderGroup {
    margin: 1rem 0;
  }

  .group3 {
    gap: 10px;
  }

  .group4 input {
    padding: 0 5px;
  }

  .group5 {
    flex-direction: column;
    max-width: 100%;
  }

  .group5 button {
    margin-bottom: 10px;
    padding: 10px;
  }
}
