.card {
  background: #fff;
  border: 1px solid #eee;
  padding: 2rem;
}

.group1 {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.group {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.group2 { 
    margin: 10px 0;
}

.group2 p {
    margin: 10px 0;
}

.group2 button  {
    margin: 0 10px;
}

.group3 {
    display: flex;
    gap: 5px;
}

.group4 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.group5 {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.group5 button {
  padding: 10px;
}

.danger {
  margin-top: 2rem;
  border: 1px solid #000;
  background: none;
  padding: 0.75rem 1.5rem;
}

@media (min-width: 0) and (max-width: 468px) {
    .card {
        padding: 1rem;
    }
}