.cartSlider {
  transform: translateX(100%);
  transition: transform 0.3s ease;
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background-color: var(--bg-color);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.cartSlider.open {
  transform: translateX(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px);
  z-index: 998;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.cartHead {
  padding: 20px 10px 0 10px;
  display: flex;
  justify-content: space-between;
}

.cartSlider .emptyCart {
  padding: 10px;
}

.cartItem {
  padding: 20px 0;
  border-bottom: 1px solid black;
}

.li {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.li img {
  height: 50px;
}

.description {
  width: 150px;
}

.actions {
  text-align: center;
}

.cartSlider h4 {
  font-size: 20px;
  display: flex;
  justify-content: right;
  padding: 10px;
}
